<h2>Agregar Post</h2>
<form action="/add" method="POST">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="content">Contenido:</label>
    <textarea id="content" name="content" required></textarea>
    <br>
    <label for="imageUrl">URL de la Imagen:</label>
    <input type="text" id="imageUrl" name="imageUrl">
    <br>
    <button type="submit">Agregar</button>
</form>
