<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Foro</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="../public/js/script.js"></script>
</head>
<body>
    <header>
        <h1>Mi Foro</h1>
    </header>
    <main>
        <%- body %>
    </main>

</body>
</html>
